.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 1300px;
    background-color: #ffffff;
  }
  
  .dot {
    width: 100px;
    height: 100px;
    margin: 0 10px;
    background-color: #59db42;
    border-radius: 50%;
    animation: bounce 1.5s infinite ease-in-out;
  }
  
  .dot:nth-child(2) {
    animation-delay: 0.2s;
  }
  
  .dot:nth-child(3) {
    animation-delay: 0.4s;
  }
  
  @keyframes bounce {
    0%, 80%, 100% {
      transform: scale(0);
    }
    40% {
      transform: scale(1);
    }
  }
  