.sidebar {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
  }
  
  .nav-link {
    color: #333;
    font-size: 1.1rem;
  }
  
  .nav-link:hover {
    color: #1ea839;
  }
  
  .nav-item {
    margin-bottom: 1rem;
  }
  
  .main-content {
    margin-left: 200px; /* Adjust this value based on the width of your sidebar */
    padding: 20px;
  }
  
  .dashboard-content {
    padding: 2rem;
    margin-top: 40px;
    border-radius: 5px;
    height: 100vh; /* Full height to center vertically */
  }
  
  .table-container {
    width: 100%;
    max-width: 1200px; /* Adjust the max-width as needed */
    margin: 0 auto;
  }